flask
streamlit
langchain
langchain-community
langchain-core
chromadb
pypdf
beautifulsoup4
tiktoken
numpy
python-dotenv
scikit-learn
langchain-text-splitters

# pip install torch --index-url https://download.pytorch.org/whl/cpu
# pip install sentence-transformers
# pip install langchain langchain-community langchain-text-splitters chromadb